# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
redis-server
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go vendor directory
vendor/

# IDE directories
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
